<nav>
    <img src="/assets/images/askme-logo.png" alt="" class="logo">

    <form class="search">
        <mat-form-field class="example-full-width">
          <mat-label>Busca primero. Quizás alguien ya tuvo tu duda</mat-label>
          <input type="search" matInput placeholder="Como funciona el cout">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>

    <div class="options">
        <button mat-icon-button >
            <mat-icon >bookmark</mat-icon>
          </button>
        <button mat-icon-button >
            <mat-icon  matBadge="2" matBadgePosition="after" matBadgeColor="warn"
            matBadgeSize="small">
                notifications
            </mat-icon>
          </button>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
          </button>
    </div>
</nav>
