.example-card {
    width: 300px;
  }
  
  .main{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  