.logo{
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
}
.feed-main{
 display: grid;
 grid-template-columns: 1fr 4fr 1fr;
}

.feed-preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle{
    display: flex;
    width: 620px;
    justify-content: space-between;
    margin-bottom: 10px;
}

pregunta {
    border: 1px solid rgba(167, 167, 167, 0.60);
    width: 620px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

a{
    display: flex;
    align-items: center;
}