<div class="home">
    <div class="register--section">
        <img src="/assets/images/askme-logo.png" alt="" class="register--logo">
        <div class="register--main">

            <h1 class="register--title">Inicia sesión ahora</h1>
            <h3 class="register--subtitle">Obten respuesta a todas tus preguntas con ayuda de la comunidad universitaria</h3>
                    
                        <!-- <form class="example-form" [formGroup]="form" (submit)="login()">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Usuario</mat-label>
                              <input matInput placeholder="" name="usuario" formControlName="user">
                            </mat-form-field>
                          <br>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="" formControlName="password">
                          </mat-form-field>
                          </form> -->

                        
                                <input type="emai" matInput>
                           
                         
    
            <button mat-raised-button color="primary" 
            class="register--create_acount-button" (click)="login()">
                Iniciar sesión
            </button>

        </div>
    </div>
    <div class="img--section">

        <img src="/assets/images/home.jpg" alt="" class="img--register">
    </div>
</div>
