<form class="example-form" [formGroup]="form">
    <h2>Pregunta nueva</h2>
    <mat-form-field class="example-full-width" [appearance]="'outline'" >
      <mat-label>Título</mat-label>
      <input matInput placeholder="" formControlName="titulo">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" [appearance]="'outline'" >
        <mat-label>Asignatura</mat-label>
        <input matInput placeholder="" formControlName="asignatura">
      </mat-form-field>
  <br>
    <mat-form-field class="example-full-width" [appearance]="'outline'" >
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Describe tu duda" formControlName="descripcion"></textarea>
    </mat-form-field>

    <br>
    <div class="actions">
        <button mat-flat-button [color]="'primary'" class="create" (click)="nuevaPregunta($event)">
            Crear
        </button>
    
        <button mat-flat-button [color]="'warn'" class="close" (click)="close()">
            Cerrar
        </button>
    </div>

  </form>
  