.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
 width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.text-nav-button{
  margin-left: 12px;
}

.nueva-pregunta{
  width: 100%;
  background-color: rgb(21, 21, 187);
  color: white;
  border: none;
  height: 40px;
  font-size: 18px;
}
