.right-bar{
    width: 100%;
    height: auto;
    
    margin-right: 80px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: rgb(241, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.follow-bar{

}

h2{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

mat-list-option{
    margin-bottom: 30px;
}

 .list-item{
    /* display: flex; */
    /* flex-direction: row; */
    /* width: 200px; */
    /* background-color: blue; */
    margin-bottom: 20px;
    /* justify-content: ; */
    /* align-items: center; */
    /* justify-content: center; */
} 

.follow-user{
    width: 100%;
}

.follow-folowers{
    position: relative;
    top: -6px;
    left: -15px;
}

span{
    margin: 0 5px;
}

.entrada--view{
    display: flex;
    align-items: center;
    color: gray;
    font-size: 80%;
}

.username{
    position: relative;
    left: -20px;
    font-weight: 600;
}

button{
    background-color: black;
    color: white;
    position: relative;
    right: -20px;
    /* float: right; */
}