<div class="home">
    <div class="register--section">
        <img src="/assets/images/askme-logo.png" alt="" class="register--logo">
        <div class="register--main">
            <h1 class="register--title">Crea una cuenta ahora</h1>
            <h3 class="register--subtitle">Obten respuesta a todas tus preguntas con ayuda de la comunidad universitaria</h3>
            <input type="text" placeholder="nombre">
            <input type="email"placeholder="correo">
            <input type="password" placeholder="contraseña">
            <button class="register--create_acount-button">Crear cuenta</button>
        </div>
    </div>
    <div class="img--section">
        <button class="img--login-button">Iniciar sesion</button>
        <img src="/assets/images/home.jpg" alt="" class="img--register">
    </div>
</div>
