<div class="home">
    <div class="login--section">
        <img src="/assets/images/askme-logo.png" alt="" class="login--logo">
        <div class="login--main">
            <h1 class="login--title">Crea una cuenta ahora</h1>
            <h3 class="login--subtitle">Obten respuesta a todas tus preguntas con ayuda de la comunidad universitaria</h3>
            <input type="text">
            <input type="email">
            <input type="password">
            <button>Crear Cuenta</button>
        </div>
    </div>
    <div class=" img--section">
        <button>Login</button>
        <img src="" alt="">
    </div>
</div>
